.dat__form__content {
    padding: 1.5rem 1.1rem;
}

@media(min-width: 768px) {
    :host ::ng-deep .ngx-form-control,
    :host ::ng-deep .ngx-form-control,
    :host ::ng-deep .ngx-form-control-wrapper {
        width: 70% !important;
        max-width: 100% !important;
    }
    
    .dat__form__content {
        padding: 2rem 4.5rem 2rem 1.1rem;
    }
}